.floorContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.elevatorContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.elevatorButtonsContainer {
    position: absolute;
    top: 25rem;
}